ApplicationServer/Connected Services/JCDecauxServiceProxy/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getContractsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getContractsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getContractsListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStationsListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsListWithContractName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsListWithContractNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStationsListWithContractNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>