C#/ApplicationServerConsole/Connected Services/JCDecauxServiceProxy/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxyCache/JCDecauxServiceProxy/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProxyCacheConsole" />
  <xs:element name="getContractsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getContractsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProxyCacheConsole" minOccurs="0" name="getContractsListResult" nillable="true" type="q1:ArrayOfJCDContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProxyCacheConsole" minOccurs="0" name="getStationsListResult" nillable="true" type="q2:ArrayOfJCDStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsListWithContractName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsListWithContractNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProxyCacheConsole" minOccurs="0" name="getStationsListWithContractNameResult" nillable="true" type="q3:ArrayOfJCDStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>